#columndiv{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 50px;
  gap: 60px;

}
#footer_result{
  background-color: rgb(242, 242, 242);
}
.socialmedia{
    display: flex;
    margin-top: 50px;
}
.social_group{
  margin-right: 40px;
}
footer a{
  margin-right: 20px;
}
.bottom{
  margin-top: 20px;
  display: flex;
  gap: 40px;
  padding-bottom: 20px;
}
.elem{
  
}
.main_elem{

  margin-right: 33%;
}