.bg{
  background-image: url('background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 1026px;
}
.moving-text span {
  display: inline-block;
  white-space: pre;
  color: white;
  font-size: 20px;
  margin-right: 80px;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.proposition {
  display: flex;
  gap: 40px;
}

.position {
  background-color: #fff;
  border-radius: 20px;
  margin-top: 20px;
  position: relative;
  margin-right: 40px;
  cursor: pointer;
}

.top-badge {
  position: absolute;
  top: -15px;
  right: -15px;
  width: 40px;
  height: 40px;
  background-color: #8BA8A4;
  color: #ffffff;
  font-size: 11px;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.center {
  text-align: center;
}

.center h1 {
  font-weight: 600;
  font-size: 96px;
}

.menu span {
  font-size: 14px;
  margin-top: 15px;
}
.buttons{
  margin-bottom: 20px;
}
.button {
  border-radius: 30px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  margin-right: 50px;
  cursor: pointer;
}

.first-button {
  background-color: black;
  color: white;
  border: none;
  width: 377px;
  height: 60px;
  
}

.second-button {
  background: none;
  color: rgb(0, 0, 0);
  border: 2px solid black;
  width: 211px;
  height: 60px;
}

.position img {
  width: 100%;
}

.text {
  width: 100%;
  margin: 20px;
}

.text h4 {
  font-weight: 600;
  margin: 0;
  text-transform: uppercase;
}

.text p {
  font-weight: 400;
  font-size: 14px;
  margin: 0;
  margin-bottom: 10px;
}
