#container {
  width: 100%;
  max-width: 1921px;        
  margin: 0 auto;            
  padding: 24px;           
  box-sizing: border-box;     
}



#container h2 {
  margin-top: 50px;
  text-align: left;
  padding-left: 0; 
}
*{
  font-family: 'Montserrat', sans-serif;
}